.logo {
	min-width: 200px;
	min-height: 140px;
	position: absolute;
	left:0;
}

.menu {
	position:absolute;
	right: 150px;
	color:  #525252;

}

.fa-shield-check{
	color: #3267D9;
}

 
.nav > li {
	
float:left;
padding: 10px;
display: block;
list-style:none;
font-size: 20px;
}



.button {
	background-color: #3267D9;
	border: none;
	color: white;
	padding: 10px;
	margin-top: -5px;
	cursor: pointer;
	border-radius: 4px;
	box-shadow: 0 4px 12px 0 rgba(0,0,0,0.2), 0 4px 12px 0 #EDF2FE
  }

 
