body{
	font-family: Arial, Helvetica, sans-serif;
}

.encabezado {min-height: 80px;
	position: relative;
	margin-top: 0px;
	width: auto;
	font-family: Arial, Helvetica, sans-serif;
}

#logo {
	width: 23%;
	padding-left: 100px;
	padding-top: 10px;
	position: absolute;
}

  * {
	box-sizing: border-box;
  }
  
  #parte1{
	  margin-top: 1%;
  }
  .left1{
	width: 50%;
	 float:left;
	 margin-left: 5%;
	 margin-top: 25px;
}


.right1{
	width: 45%;
	 float:left;
	 position: relative;
}

.ptext{
	width: 70%;
	color: #525252;
	font-size: 15px;
	line-height: 25px;
}

.iopt{
	float: left;
	width: 50%;
	color: #525252;
	margin-top: 6%;

}

.dp12{
	float: left	;
width: 15%;
color: #525252;
}

.dpart2{
width: 20%;
float: left;
}

.dp4{
 float: left;
 width: 25%;
}